[Unit]
Description=Custom Telegraf Service
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/telegraf --config /etc/telegraf/telegraf.conf
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target